@model IEnumerable<ContractorSearch.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript">
function ConfirmationDialog() {
    if(confirm("Are you sure to continue?"))
    return true;
    else
    return false;
    }
</script>
<h1>Appointments</h1>

<p>
    <a asp-action="CreateAppointments">Create An Appointment</a>

    <a asp-action="AvailableAppointments">Available Appointments</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                <a asp-action="Chat" asp-route-id="@item.Id">Chat</a>|
                <a asp-action="SendConfirmationText" asp-route-id="@item.Id">Confirm Appointment</a>|
                <a asp-action="SendCustomText">Send Custom Text Message</a>
                
            </td>
            <td>
                <a asp-action="SubmitCharge" asp-route-id="@item.Id">Appointment Complete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
