@model IEnumerable<ContractorSearch.Models.Contractor>

@{
    ViewData["Title"] = "AvailableContractorsIndex";
    
}

<h1>AvailableContractorsIndex</h1>

<p>
    <a asp-action="CurrentAppointments">Current Appointments</a>
    <div id="map" style="height:400px;width:400px;"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: { lat: @ViewBag.Latitude, lng: @ViewBag.Longitude },
            });
            const marker = new google.maps.Marker({
                position: { lat: @ViewBag.Latitude, lng: @ViewBag.Longitude },
                map: map,
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(ViewData["ApiKeys"])&callback=initMap"
            async defer></script>
</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressLine2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityUser.Id)
                    </td>
                    <td>
                        <a asp-action="AvailableAppointments" asp-route-id="@item.Id">Available Appointments</a>|
                        <a asp-action="SeeContractorReviewsAndRating" asp-route-id="@item.Id">See Contractor Reviews</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
