@model IEnumerable<ContractorSearch.Models.Appointment>

@{
    ViewData["Title"] = "SeeContractorReviews";
}

<h1>@ViewBag.Name</h1>
<p>
    <div id="map" style="height:400px;width:400px;"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: { lat: @ViewBag.Latitude, lng: @ViewBag.Longitude },
            });
            const marker = new google.maps.Marker({
                position: { lat: @ViewBag.Latitude, lng: @ViewBag.Longitude },
                map: map,
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(ViewData["ApiKeys"])&callback=initMap"
            async defer></script>
</p>
<div>
    <h4>Contractor Review</h4>
    <hr />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    |
    <a asp-action="Index">Back to List</a>
</div>